.texto-centro{
  text-align: center;
}
.img-centro{
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 10%;
}
.img-circle{
  border-radius: 100%
}
html{
  background-image: linear-gradient(to bottom, #3700b3, #ffffff 130%);
}
